body {
    background-image: url(../images/paisley.png);
    font-family: 'Copse', serif;
}
h1 {
    align-content: center;
    text-align: center;
    font-family: 'Copse', serif;
}
h2 {
    display: flex;
    align-items: flex-end;
    justify-content: right;

}

#giphy-powered {
    width: 25%;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button, div, form, input {
    margin: 10px;
}

.grid-container1 {

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    grid-template-columns: auto auto;
    background-color: rgba(28, 9, 134, 0.507);
    padding: 0px;
}

.grid-container2 {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    grid-template-columns: auto auto auto ;
    background-color: rgba(28, 9, 134, 0.507);
    padding: 0px;
}

.grid-container3 {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    grid-template-columns: auto auto auto auto ;
    background-color: rgba(28, 9, 134, 0.507);
    padding: 0px;
}

.grid-item, input, h2 {
     display: flex;
}

img {
    max-width:100%;
    height:auto;
}

.rating {
    text-align: center;
}

.btn-dark {
    width: auto;
}

#buttons-view {
    padding: 0px;
}

#add-animal{
    width: 50%;
    display: grid;
}

.card {
    max-width: 30%;
    height: auto;
    display: flex;
    
}